

.input {
  width: 40%;
  border: 2px solid #11a313;
  border-radius: 8px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  transition: border-color 0.3s, box-shadow 0.3s; 
  font-size: 1rem; 
  &:focus {
    outline: none;
    border-color: #11a313; 
    box-shadow: 1px 6px 9px rgba(17, 163, 19, 0.5); 
  }
}


@media (max-width: 576px) {
  .input {
    width: 80%;
  }
}
